[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/cpr"]
	path = third_party/cpr
	url = https://github.com/libcpr/cpr
[submodule "third_party/kutils"]
	path = third_party/kutils
	url = https://github.com/StronglogicSolutions/kutils
